* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffdff5;
}

.container {
    max-width: 1280px;
    width: 100%;
}

header {
    background-color: #522947;
    color: #93c0fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}
header img {
    width: 50px;
    margin-right: 15px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.containerMenus {
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
}

.contatosMenu {
    background-color: #522947;
    color: #93c0fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 70px;
    gap: 10px;
    cursor: default;
}

.adicionarMenu {
    background-color: #522947;
    color: #93c0fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 70px;
    gap: 10px;
    cursor: pointer;
}

.pesquisarMenu {
    background-color: #522947;
    color: #93c0fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 70px;
    gap: 10px;
    cursor: pointer;
}


/* 0px - 480px = smartphones */
@media (max-width: 480px) {
    h1 {
        color: red;
    }
}
